.car {
    animation: move 2s;
    animation-fill-mode:both;
}
    @keyframes move {
        0%{
            margin-right:-12%;
            opacity:0;
        }
        100% {
            margin-right: 0%;
            opacity: 1;
        }
    }
