@model WebApplication1.Cars
@{
    ViewData["Title"] = "Home Page";
}
    <div class="row car" style="margin-bottom:6vh">
        <div class="col-sm-3 align-self-start" style="margin-top:12%">
            <h2>Web-приложение "Автовладельцы"</h2>
            <p>Приложение отлично подходит для решений задач в области госавтоинспеции.</p>
            <a class="nav-link text-light btn btn-success" asp-area="Identity" asp-page="/Account/Login" style="width:100px">Войти</a>
        </div>
        <div class="col align-self-center"></div>
        <div class="col align-self-end"><img src="https://i.pinimg.com/originals/d9/bf/4b/d9bf4b29b6b0da58126264da51be8a69.jpg" style="margin-right:25%"/></div>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js">
</script>
